body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.666;
  background-color: #8c8c8c;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
  color: #555;
  padding: 0 16px;
}
header {
  background-color: #FFF;
  text-decoration: none;
  background-color: #8c8c8c;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
  padding-left: 12px;
}

h1 {
  font-weight: 900;
  font-size: 500%;
  text-align: center;
  margin-top: 2rem;
  color: #2ec2b0;
  line-height: 1.2;
}

 h1 a {
  color: #000;
  font-family: "McLaren", cursive;
  font-weight: 200;
  text-decoration: none;
  justify-content: left;
}

h1 span {
  padding: 5px 15px;
  color: #FFF;
  background: #2ec2b0;
  border-radius: 12px;
}

.dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem auto;
  max-width: 90%;
  border-radius: 3px;
}

.dictionary > .term {
  text-align: center;
  max-width: 20rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 100ms ease-in-out;
}

.dictionary > .term > dt {
  margin-bottom: 1rem;
}

dt {
  color: #2ec2b0;
  line-height: 1;
}

dt span {
  font-size: 200%;
  font-weight: 900;
}

.emoji {
  margin: 0 auto 20px;
  display: block;
  font-size: 400%;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding-top: 1.5rem;
}

.nav a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.nav input {
  color: #000;
  background-color: #FFF;
  font-size: 20px;
  border-radius: 5px;
  border: 1px;
}

.nav input:hover {
  background-color: #edf2f1;
}

.nav input:active {
  background-color: #edf2f1;
}

.nav .second a {
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav a:hover {
  color: #2ec2b0;
}

dd {
  font-size: 92.5%;
  margin-left: 0;
}

dd dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: inherit;
}

dd dl {
  font-size: 90%;
  margin: 1rem auto 0 auto;
  letter-spacing: 0.33px;
  max-width: 15rem;
}

dd dl .term {
  margin-bottom: 1rem;
}

footer {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: .5rem;
  z-index: 5;
  padding-bottom: 3rem;
}

footer p {
  color: #000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

footer a {
  color: #1557c2;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 5rem;
}
